body {
    margin: 0 !important;
    color: black;
    /* overflow-y: visible !important; */
    overflow-x: hidden !important;
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg");
    background-position: center;
    background-repeat: repeat;
    background-size: 7%;
    background-color: #fff;
    width: 100% !important;
    /* display: table; */
    overflow-x: auto !important;
    padding: 0 !important;
}

html {
    margin: 0 !important;
    padding: 0 !important;
}

.loading-container {
    background: rgba(0, 0, 0, 0.5);
    z-index: 1500;
}

.top-pane {
    background-color: hsl(225, 6%, 25%);
}

.top-pane div,
textarea {
    /* word-wrap: break-word;
  word-break: break-word; */
}

.pane {
    height: 50vh;
    display: flex;
}

.editor-container {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    background-color: hsl(225, 18%, 80%);
    padding: 2px 1px;
    /* background: rgba(255, 255, 255, 72%); */
}

.editor-container.collapsed {
    flex-grow: 0;
}

.editor-container.collapsed .CodeMirror-scroll {
    position: absolute;
    overflow: hidden !important;
}

.expand-collapse-btn {
    margin-left: 0.5rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.editor-title {
    display: flex;
    justify-content: space-between;
    background-color: hsl(225, 6%, 13%);
    color: white;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
}

.CodeMirror {
    height: 100% !important;
}

.code-mirror-wrapper {
    flex-grow: 1;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    overflow: hidden;
}

.CodeMirror-scroll {
    /* background-color: #2b2a2a; */
    background-color: hsl(225, 6%, 15%);
}

.CodeMirror,
.CodeMirror-gutter {
    background-color: hsl(225, 6%, 15%);
    border-radius: 10px 10px;
}

::-webkit-scrollbar {
    width: 17px;
    background: #8167a9 !important;
    color: #8167a9 !important;
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px 20px;
    /* background: #8167a9; */
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.btn-gr {
    margin-top: 15px;
}

.btn-fb-login {
    margin-top: 5.5px !important;
    height: 39.59px !important;
}

.fa-facebook {
    margin-right: 7px;
    width: 15px;
}

/** LOCAL */
/* @media (max-width: 1500px) {
    .container-content {
    }
    .Tutorial-container-1 {
    }
    .Tutorial-content-2 {
        position: relative !important;
        width: 100%;
        margin-left: 200px;
    }

    .Sidebar-drawerPaper-6 .MuiDrawer-paper {
        width: 200px !important;
        max-width: 200px !important;
    }
    .Sidebar-drawerPaper-6 {
        position: fixed !important;
        z-index: 1000;
        height: 100% !important;
        min-height: 100% !important;
    }
    .Tutorial-turnLeft-3 {
        margin-left: 0 !important;
    }

    .Login-alert-2 {
        text-align: center !important;
        outline: none !important;
    }
    .MuiAlert-message {
        text-align: center !important;
    }

    .Tutorial-content-18 {
        position: relative !important;
        width: 100%;
        margin-left: 200px;
    }
    .Tutorial-content-19 {
        position: relative !important;
        width: 100%;
        margin-left: 200px;
    }
    .Sidebar-drawerPaper-23 .MuiDrawer-paper {
        width: 200px !important;
        max-width: 200px !important;
    }
    .Sidebar-drawerPaper-23 {
        position: fixed !important;
        z-index: 1000;
        height: 100% !important;
        min-height: 100% !important;
    }
    .Tutorial-turnLeft-20 {
        margin-left: 0 !important;
    }
} */
/** HOST */
@media (max-width: 1500px) {
    .jss2 {
        position: relative !important;
        width: 100%;
        margin-left: 200px;
    }

    .jss6 {
        width: 0 !important;
    }
    .jss6 .MuiDrawer-paper {
        width: 200px !important;
        max-width: 200px !important;
    }
    .jss6 {
        position: fixed !important;
        z-index: 1000;
        height: 100% !important;
        min-height: 100% !important;
    }
    .jss3 {
        margin-left: 0 !important;
    }

    .Login-alert-2 {
        text-align: center !important;
        outline: none !important;
    }
    .MuiAlert-message {
        text-align: center !important;
    }

    

    .jss14 {
        position: relative !important;
        width: 100%;
        margin-left: 200px;
    }
    .jss15 {
        position: relative !important;
        width: 100%;
        margin-left: 200px;
    }
    .jss23 .MuiDrawer-paper {
        width: 200px !important;
        max-width: 200px !important;
    }
    .jss23 {
        position: fixed !important;
        z-index: 1000;
        height: 100% !important;
        min-height: 100% !important;
    }
    .jss20 {
        margin-left: 0 !important;
    }
}

/** LOCAL */
/* @media (max-width: 500px) {
 
    .editor-container {
        flex-grow: 1;
        flex-basis: 0;
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
        background-color: hsl(225, 18%, 80%);
        padding: 2px 1px;
        position: relative;
    }
    body {
        margin: 0 !important;
        padding: 0 !important;
        overflow-y: visible;
    }
    .code-container {
        position: relative !important;
        display: table;
    }
    .code-mirror-wrapper {
        flex-grow: 1;
        border-bottom-right-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
    }
    .top-pane {
        z-index: 999;
        position: relative;
        height: 120px;
        display: flex;
        flex-direction: column;
    }
    .view {
        position: relative;
        margin-top: 25%;
    }
    .container-content {
        position: absolute;
        max-width: 100% !important;
        height: auto !important;
    }

    .Sidebar-drawerPaper-6 .MuiDrawer-paper {
        width: 200px !important;
        max-width: 200px !important;
    }

    .Tutorial-turnLeft-3 {
        margin-left: 0 !important;
    }
    .Login-background-1 {
        margin-top: -3% !important;
    }
    .Login-alert-2 {
        width: 100% !important;
    }

    .Tutorial-content-18 {
        position: relative !important;
        width: 100%;
        margin-left: 0;
    }
    .Tutorial-content-19 {
        position: relative !important;
        width: 100%;
        margin-left: 0;
    }
    .Sidebar-drawerPaper-23 .MuiDrawer-paper {
        width: 200px !important;
        max-width: 200px !important;
    }

    .Tutorial-turnLeft-20 {
        margin-left: 0 !important;
    }

    .next-icon,
    .prev-icon {
        font-size: 16px !important;
    }
} */
/** HOST */
@media (max-width: 500px) {
    .pane {
        /* width: max-content !important; */
    }
    .code-mirror-wrapper {
        /* width: max-content !important; */
    }
    .editor-container {
        flex-grow: 1;
        flex-basis: 0;
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
        background-color: hsl(225, 18%, 80%);
        padding: 2px 1px;
        position: relative;
        /* background: rgba(255, 255, 255, 72%); */
    }
    body {
        margin: 0 !important;
        padding: 0 !important;
        overflow-y: visible;
    }
    .code-container {
        position: relative !important;
        display: table;
    }
    .code-mirror-wrapper {
        flex-grow: 1;
        border-bottom-right-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
        /* overflow: visible;
        overflow-y: visible; */
    }
    .top-pane {
        z-index: 999;
        position: relative;
        height: 120px;
        display: flex;
        flex-direction: column;
    }
    .view {
        position: relative;
        margin-top: 25%;
        /* bottom: -50%; */
        /* z-index: 1000; */
        /* height: 50vh; */
        /* bottom: 20%; */
    }
    .container-content {
        position: absolute;
        max-width: 100% !important;
        height: auto !important;
    }

    .jss6 .MuiDrawer-paper {
        width: 200px !important;
        max-width: 200px !important;
    }
    .jss6 {
        position: fixed !important;
        z-index: 1000;
        /* min-height: 10000% !important; */
        height: 100% !important;
        min-height: 100% !important;
    }
    .jss3 {
        margin-left: 0 !important;
    }
    .jss1 {
        margin-top: -3% !important;
    }
    .jss2 {
        width: 100% !important;
    }

    .jss14 {
        position: relative !important;
        width: 100%;
        margin-left: 0;
    }
    .jss15 {
        position: relative !important;
        width: 100%;
        margin-left: 0;
    }
    .jss23 .MuiDrawer-paper {
        width: 200px !important;
        max-width: 200px !important;
    }
    .jss23 {
        position: fixed !important;
        z-index: 1000;
        /* min-height: 10000% !important;  */
        height: 100% !important;
        min-height: 100% !important;
    }
    .jss20 {
        margin-left: 0 !important;
    }

    .next-icon,
    .prev-icon {
        font-size: 16px !important;
    }
    .MuiAlert-outlined {
        margin-left: 0 !important;
        margin-left: 0 !important;
        margin-left: 0 !important;
    }
}

/** LOCAL */
/* @media (max-width: 387px) {
    .Login-background-1 {
        margin-top: -3% !important;
    }
    .Login-alert-2 {
        width: max-content !important;
    }
} */
/** HOST */
@media (max-width: 387px) {
    .jss1 {
        margin-top: -3% !important;
    }
    .jss2 {
        width: max-content !important;
    }
}

/** LOCAL */
/* @media (max-width: 353px) {
    .col-12 .navbar {
        display: table !important;
    }

    .Tutorial-container-1 {
        position: relative !important;
    }
    .Tutorial-content-2 {
        width: 100% !important;
    }

    .Sidebar-drawerPaper-6 {
        margin-top: 12px;
    }

    .Login-background-1 {
        margin-top: 12% !important;
    }
    .Login-alert-2 {
        width: max-content !important;
    }

    .Tutorial-content-18 {
        position: relative !important;
        width: 100%;
        margin-left: 0;
    }
    .Tutorial-content-19 {
        position: relative !important;
        width: 100%;
        margin-left: 0;
    }
    .Sidebar-drawerPaper-23 .MuiDrawer-paper {
        width: 200px !important;
        max-width: 200px !important;
    }
    .Sidebar-drawerPaper-23 {
        margin-top: 12px;
    }
    .Tutorial-turnLeft-20 {
        margin-left: 0 !important;
    }
} */
/** HOST */
@media (max-width: 353px) {
    .col-12 .navbar {
        display: table !important;
    }

    /* .jss1 {
        position: relative !important;
    } */
    .jss2 {
        width: 100% !important;
    }

    .jss6 {
        position: fixed !important;
        z-index: 1000;
        min-height: 10000% !important;
        height: 100% !important;
        min-height: 100% !important;
        margin-top: 12px;
    }

    .jss1 {
        margin-top: 12% !important;
    }
    .jss2 {
        width: 100% !important;
    }

    .jss14 {
        position: relative !important;
        width: 100%;
        margin-left: 0;
    }
    .jss15 {
        position: relative !important;
        width: 100%;
        margin-left: 0;
    }
    .jss23 .MuiDrawer-paper {
        width: 200px !important;
        max-width: 200px !important;
    }
    .jss23 {
        margin-top: 12px;
    }
    .jss20 {
        margin-left: 0 !important;
    }
}

@media (max-width: 321px) {
    .navigation-wrap {
        /* height: max-content !important; */
    }
    .navbar-brand {
    }
    .navbar-toggler {
    }
    .navbar-toggler-icon {
    }
    /* .Sidebar-drawerPaper-23 {
        width: 20px !important;
        max-width: 20px !important;
    }
    .Sidebar-drawerPaper-23 .MuiDrawer-paper {
        width: 20px !important;
        max-width: 20px !important;
    }
    .Sidebar-drawerPaper-6 {
        width: 20px !important;
        max-width: 20px !important;
    }
    .Sidebar-drawerPaper-6 .MuiDrawer-paper {
        width: 20px !important;
        max-width: 20px !important;
        margin-left: -20px;
    } */
}

@media (max-width: 319px) {
    .col-12 .navbar {
        display: flex !important;
    }
}

@media (max-width: 269px) {
    .btn-gr {
        display: flex !important;
        flex-direction: column !important;
    }
}
